{% extends "base.html" %}
{% block content %}

<!--
<h2>BSE Stock Analysis</h2>
<br>
<figure class="figure">
  <img src="https://images.pexels.com/photos/159888/pexels-photo-159888.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
  <figcaption class="figure-caption"></figcaption>
</figure> 
<p>This Website </p>
-->


<div class="card">
  <div class="card-body">
    <h5 class="card-title">BSE Analysis and Prediction</h5>
    <p class="card-text">
      This Website gives us the Real-time Stock Market Values, with historic data in the form of table and Chart for Analysis.
      Also, this Website uses Machine Learning Algorithm to predict the future values.
    </p>
  </div>
  <img src="https://images.pexels.com/photos/159888/pexels-photo-159888.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"  width="300" height="300" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
  <figcaption class="figure-caption"></figcaption>
</div>
<br>



<div class="card mb-3" style="max-width: 540px">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="file:///G:/STOCKER/STOCKER_APP/ravi.jpg"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in to
          additional content. This content is a little bit longer.
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
  </div>
</div>






{% endblock content %}
