{% extends "base.html" %}
{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb purple lighten-4">
    <li class="breadcrumb-item"><a class="black-text" href="/">Home</a></li>
    <li class="breadcrumb-item"><a class="black-text" href="/subnav">Reliance</a></li>
    <li class="breadcrumb-item active">Live</li>
  </ol>
</nav>
<br>
<br>
    <a>LAST UPDATED...{{update}}</a>
    <br>
    <br>
    <br>
    <p class="text-danger">LIVE::</p>
    <br>
    <div class="card-columns">
      <div class="card bg-primary">
        <div class="card-body text-center">
          <p class="card-text">{{live_price}}      {{arrow}}</p>
        </div>
      </div>
    </div>  
    <br>
    <br>
    <a>Volumes:::{{volume}}</a>
    <br>
    <br>
    <a>-----------TODAY'S -----------</a>
    <br>
    <a>Open_Price:::{{Open_price}}</a>
    <br>
    <a>Previous Close Price:::{{Prev_price}}</a>

{% endblock content %}