{% extends "base.html" %}
{% block content %}

<ul class="nav nav-tabs">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
      aria-expanded="false">Chart</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/chart">5 Years</a>
      <a class="dropdown-item" href="/oneyear">1 Year</a>
      <a class="dropdown-item" href="/onemonth">1 Month</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Historic_table">Historic Data</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/live">Live Data</a>
  </li>
</ul>
<br>
<h2 class="text-danger">LIVE::</h2>
<br>
<h4>LAST UPDATED...{{update}}</h4>
<br>
<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
  <div class="card-body">%
    <h2 class="card-title">{{live_price}}</h2>
    {%if down_arrow == '-' %}
    <h3>
      {{arrow}}
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
      </svg>
    </h3>
    {%  else  %}
    <h3>
      {{arrow}}
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-up-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
      </svg> 
    </h3>
    {% endif %}

  </div>
</div>    
<br>
<h4>Volumes:::{{volume}}</h4>
<br>
<h3>-----------TODAY'S -----------</h3>
<br>
<h4>Open_Price:::{{Open_price}}</h4>
<br>
<h4>Previous Close Price:::{{Prev_price}}</h4>

{% endblock content %}