{% extends "base.html" %}
{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb purple lighten-4">
    <li class="breadcrumb-item"><a class="black-text" href="/">Home</a></li>
    <li class="breadcrumb-item"><a class="black-text" href="/subnav">Reliance</a></li>
    <li class="breadcrumb-item active">Live</li>
  </ol>
</nav>
<h2 class="text-danger">LIVE::</h2>
<br>
<h4>LAST UPDATED...{{update}}</h4>
<br>
<div class="card-columns">
  <div class="card bg-primary">
    <div class="card-body text-center">
      <h4 class="card-text">{{live_price}}      {{arrow}}</h4>
    </div>
  </div>
</div>  
<br>
<br>
<h4>Volumes:::{{volume}}</h4>
<br>
<br>
<h3>-----------TODAY'S -----------</h3>
<br>
<h4>Open_Price:::{{Open_price}}</h4>
<br>
<h4>Previous Close Price:::{{Prev_price}}</h4>

{% endblock content %}